@import "./reset.css";
@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background-color: var(--side-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.page-header {
  text-align: center;
  padding: 50px;
}

.page-header .page-title {
  font-size: 50px;
  font-weight: bold;
  color: rgba(166, 209, 244, 0.88);
}

.content {
  display: flex;
  max-width: 1250px;
  border: 10px solid var(--main-color);
  padding: 50px 0;
  margin: auto;
  border-radius: 50px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.content .planner-section {
  flex-basis: 75%;
  padding: 20px 40px;
}

.planner-section .date-container .date {
  font-size: 38px;
}

.planner-section .plan-container {
  margin-top: 40px;
}

.planner-section .plan-container #plan-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planner-section .plan-container #plan-form .plan-input {
  width: 100%;
  text-align: center;
  border: none;
  font-size: 30px;
  padding: 20px 40px;
  border-radius: var(--border-radius);
}

.planner-section .plan-container #plan-form .plan-input::placeholder {
  color: var(--main-color);
}

.planner-section .plan-container #plan-form .plan-submit-btn {
  position: absolute;
  right: 16px;
  border: var(--white-border);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--white);
  padding: 14px;
  box-shadow: var(--box-shadow);
}

.planner-section .plan-container #plan-form .plan-submit-btn:hover {
  background-color: var(--hover-color);
  box-shadow: var(--hover-box-shadow);
}

.planner-section .plan-container #plan-list li {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  margin-top: 16px;
  padding: 20px 40px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow);
}

.planner-section .plan-container #plan-list li button {
  margin-left: 8px;
  padding: 10px;
  border-radius: 50%;
  border: var(--white-border);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 

.planner-section .plan-container #plan-list li button:hover {
  background-color: var(--hover-color);
  box-shadow: var(--hover-box-shadow);
}

.content aside {
  flex-basis: 25%;
  padding: 20px;
  border-left: var(--side-border);
}

.map-section {
  width: 100%;
  text-align: center;
}

.map-section .map-description {
  font-size: 28px;
}

.map-section .map-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 160px;
  margin: 20px 0;
}

.map-section .map-list .map {
  margin: 14px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--side-color);
  border: var(--white-border);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.map-section .map-list .map:hover {
  background-color: var(--hover-color);
  box-shadow: var(--hover-box-shadow)
}

.map-section .map-list .map img {
  object-fit: contain;
  max-width: 60px;
  height: auto;
  border-radius: 50%;
}

.music-timer-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.music-timer-section .timer-container {
  background-color: var(--side-color);
  padding: 20px;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.music-timer-section .timer-container #clock {
  font-size: 36px;
}

.music-timer-section .timer-container .time-form {
  margin-top: 20px;
  padding: 20px 30px;
  background-color: var(--main-color);
  border-radius: 40px;
}

.music-timer-section .timer-container .time-form .time {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.music-timer-section .timer-container .time-form .time .time-input {
  margin-right: 6px;
  width: 50px;
  height: 32px;
  border: none;
  border-radius: 3px;
}

.music-timer-section .timer-container .time-form .play-btn-wrapper {
  text-align: center;
  margin-top: 20px;
}

.music-timer-section .timer-container .time-form .play-btn-wrapper .play-btn {
  border: var(--white-border);
  border-radius: 50%;
  cursor: pointer;
  background-color: inherit;
  color: var(--white);
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.music-timer-section .timer-container .time-form .play-btn-wrapper .play-btn:hover {
  box-shadow: var(--hover-box-shadow)
}

.music-timer-section .music-container {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--side-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.music-timer-section .music-container .album-cover {
  max-width: 240px;
}

.music-timer-section .music-container .album-cover .cover-img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
} 

.music-timer-section .music-container .music-info {
  margin-top: 20px;
  text-align: center;
}

.music-timer-section .music-container .music-info .music-title {
  font-size: 22px;
}

footer {
  text-align: center;
  padding: 50px;
}

.hidden {
  display: none;
}

.plan-icon-btn {
  max-width: 16px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .content aside {
    margin: 0;
    border-left: none;
    border-top: var(--side-border);
  }
}

@media only screen and (max-width: 375px) {
  .page-header {
    padding-bottom: 20px;
  }

  .page-header .page-title {
    font-size: 24px;
  }

  .content {
    padding: 10px;
  }

  .planner-section .date-container .date,
  .planner-section .plan-container #plan-form .plan-input,
  .map-section .map-description {
    font-size: 16px;
  }

  .planner-section .plan-container {
    margin-top: 20px;
  }

  .planner-section .plan-container #plan-list li {
    font-size: 13px;
  }
}