:root {
  --main-color: rgb(179, 218, 215);
  --side-color: rgba(187, 215, 213, 0.71);
  --hover-color: rgb(189, 188, 188);
  --white: rgb(255, 255, 255);
  --white-border: 1px solid var(--white);
  --side-border: 1px solid var(--side-color);
  --border-radius: 12px;
  --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  --hover-box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.2);
}