:root {
  --main-color: rgba(200, 227, 249, 0.88);
  --side-color: rgb(231,242,252);
  --hover-color: rgb(189, 188, 188);
  --white: rgb(255, 255, 255);
  --white-border: 1px solid var(--white);
  --side-border: 2px solid var(--side-color);
  --border-radius: 12px;
  --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.08);
  --hover-box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.2);
}